<!DOCTYPE html>
<html>
  <head>
    <title>login page</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/login.css')}}" />
  </head>
  <body>
    <form method="POST">
      <h2>login page</h2>
      <label for="email">email:</label><br />
      <input type="email" id="email" name="email" value="" /><br />
      <label for="password">password:</label><br />
      <input
        type="password"
        id="password"
        name="password"
        value=""
      /><br /><br />
      <input type="submit" value="Submit" />
    </form>
    <a href="{{url_for('signup')}}">sign-up if you don't have account</a>
    <p>{{error}}</p>
  </body>
</html>
